.heading {
    font-size:23px;
    width: 100%;
    margin: 10px;
    box-shadow:5px 5px 5px grey;
}

.note{
    font-size: 15px;
    color: brown;
}

marquee{
    color: rgba(23, 236, 105, 0.849);
    bottom: 0;
    width: 100%;
    background-color: rgb(112, 103, 103);
    line-height: 3;
    text-align: center;
    font-size: 25px;
    position: relative;
}